<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<%@taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>    
<%@taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>	
<%
	String[] winarr = {"한국","미국","독일","스페인"};
	String[] roundarr = {"한국", "멕시코", "독일", "브라질", "스위스", "잉글랜드"};
%>
content_view2.jsp
	<form action="modify" method="post">
		<input type="hidden" name="num" value="${content_view.num}">
		<table width="700" height="200" cellpadding="0" cellspacing="0" border="1">
			<tr>
				<td>번호</td>
				<td>${content_view.num}</td>
			</tr>
			<tr>
				<td>아이디</td>
				<td>${content_view.id}</td>
			</tr>
			<tr>
				<td>비번</td>
				<td><input type="text" name="pw"
					value="${content_view.pw}"></td>
			</tr>
			<tr>
				<td>우승예상국가</td>
				<td>
					<c:set var = "nation" value="<%=winarr%>"/>
					<c:forEach var="win" items="${nation }">
						<input type="radio" name="win" value="${win}" <c:if test="${win eq content_view.win}">checked</c:if> >${win}		
				</c:forEach>
				</td>
			</tr>
			<tr>
				<td>16강예상국가</td>
				<td>
					<%-- <c:set var="theString" value="${content_view.round16 }"/> --%>
					<!-- 위의 set설정하고 아랫줄로 해도 된다. --> 
					<%-- ${fn:contains(theString,'한국')} --%> 
					<c:set var = "round" value="<%=roundarr%>"/>
					<c:forEach var="round16" items="${round }">				
						<input type="checkbox" name="round16" 
							value="${round16 }" <c:if test="${fn:contains(content_view.round16,round16)}">checked</c:if> />${round16 }
				</c:forEach>
					<%-- <c:if test="${fn:contains(${content_view.round16 },'한국')}"> 에러--%>
					<%-- <c:if test="${fn:contains(content_view.round16,'한국')}"> 잘됨-이줄로 하면 위에 theString변수 만들필요 없겠다. --%>
				</td>
			</tr>
			<tr>
				<td colspan="2">
				<input type="submit" value="수정">
					&nbsp;&nbsp; 
					<a href="list">목록보기</a> &nbsp;&nbsp; 
					<a	href="delete?num=${content_view.num}">삭제</a> &nbsp;&nbsp;
				</td>
			</tr>
		</table>
	</form>
